@import 'base_styles/reset';
@import 'includes/fonts';
@import 'base_styles/typography';

@import 'blocks/page';
@import 'blocks/aside';
@import 'blocks/modal';
@import 'blocks/tabs';
@import 'blocks/header';
@import 'blocks/students';
@import 'blocks/form';
@import 'blocks/personal';
@import 'blocks/admin';
@import 'blocks/personal-page';
@import 'blocks/student-block';
@import 'blocks/schedule';
@import 'blocks/album';

@import 'other';
