@import './includes/variables';

body {
  font-family: 'SansRegular';
}

.body-scrolling {

  .page__main-block {
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  .aside {
    position: fixed;
    top: 0;
  }
}

.buttons_group {
  .btn {
    margin-right: 0px;
    border-radius: 0;

    &:first-child {
      border-radius: .2rem 0 0 .2rem;
    }

    &:last-child {
      margin-right: 0;
      border-radius: 0 .2rem .2rem 0;
    }
  }
}

.hidden {
  display: none;
}

// .content-block {
//   border: 1px solid black;
//   border-radius: 15px;
//   padding: 15px;
//   box-sizing: border-box;
//   box-shadow: 0 4px 2px -2px $secondaryLight;
// }
