@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: inherit; }
  a:hover {
    color: inherit; }

button:hover {
  cursor: pointer; }

* {
  outline: none; }

@font-face {
  font-family: 'SansExtraBold';
  src: url(../fonts/OpenSans-ExtraBold.ttf); }

@font-face {
  font-family: 'SansBold';
  src: url(../fonts/OpenSans-Bold.ttf); }

@font-face {
  font-family: 'SansSemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf); }

@font-face {
  font-family: 'SansRegular';
  src: url(../fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: 'SansLight';
  src: url(../fonts/OpenSans-Light.ttf); }

h1 {
  font-family: 'SansBold';
  font-size: 26px; }

h2 {
  font-family: 'SansSemiBold';
  font-size: 24px; }

p, span {
  font-family: 'SansRegular';
  font-size: 16px;
  line-height: 22px; }

.page__main {
  display: flex; }
  .page__main-block {
    width: 100%;
    max-width: 88%;
    padding: 12px 30px; }

.aside {
  min-width: 200px;
  padding: 10px 15px;
  height: 100vh;
  background-color: #3E3D59;
  color: #fff; }
  .aside__user {
    display: flex;
    align-items: center; }
    .aside__user img {
      margin-right: 5px;
      width: 30px;
      height: 30px;
      background-size: cover;
      display: block; }
    .aside__user_name {
      align-items: center;
      display: flex;
      font-size: 18px; }
  .aside__menu {
    margin-top: 10px; }
  .aside__list {
    font-size: 15px; }
    .aside__list_item {
      margin-bottom: 10px;
      padding-left: 20px;
      white-space: nowrap; }

.modal-window {
  right: 28px;
  bottom: -110px;
  position: absolute;
  padding: 10px;
  background-color: #fff;
  border: 0.5px solid #a4a4a4;
  box-shadow: 0 4px 2px -2px #a4a4a4;
  border-radius: 15px; }

.tabs {
  width: 500px;
  margin-bottom: 7px; }
  .tabs_links {
    width: fit-content; }
    .tabs_links--item {
      display: inline-block;
      padding: 2px 5px;
      border: 1px solid black;
      border-bottom: 0;
      cursor: pointer;
      font-size: 16px;
      user-select: none; }
      .tabs_links--item:first-child {
        border-radius: 4px 0 0 0; }
      .tabs_links--item:nth-child(2) {
        border-left: 0;
        border-right: 0; }
      .tabs_links--item:last-child {
        border-radius: 0 4px 0 0;
        border-right: 1px solid black; }
      .tabs_links--item:hover {
        background-color: #e9ecef; }
      .tabs_links--item-active {
        background-color: #6c757d;
        color: #fff; }
        .tabs_links--item-active:hover {
          background-color: #6c757d; }
  .tabs_main {
    padding: 7px 5px;
    border: 1px solid black; }

.header {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px 30px;
  background-color: #3E3D59;
  color: #fff; }
  .header__logo {
    display: block;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background: url(../img/logo.png) no-repeat;
    background-size: cover; }
  .header__user-info {
    display: flex;
    align-items: center;
    position: absolute;
    right: 35px; }
    .header__user-info_user {
      margin-right: 5px;
      display: flex; }
      .header__user-info_user--name {
        align-items: center;
        display: flex;
        font-size: 16px; }
      .header__user-info_user img {
        margin-right: 5px;
        width: 30px;
        height: 30px;
        background-size: cover;
        display: block; }

.students {
  margin-bottom: 15px; }
  .students__tab {
    width: 500px;
    margin-bottom: 7px; }
    .students__tab_links {
      width: fit-content; }
      .students__tab_links--item {
        display: inline-block;
        padding: 2px 5px;
        border: 1px solid black;
        border-bottom: 0;
        cursor: pointer;
        font-size: 16px; }
        .students__tab_links--item:first-child {
          border-radius: 4px 0 0 0; }
        .students__tab_links--item:nth-child(2) {
          border-left: 0;
          border-right: 0; }
        .students__tab_links--item:last-child {
          border-radius: 0 4px 0 0;
          border-right: 1px solid black; }
        .students__tab_links--item:hover {
          background-color: #e9ecef; }
        .students__tab_links--item-active {
          background-color: #6c757d;
          color: #fff; }
          .students__tab_links--item-active:hover {
            background-color: #6c757d; }
    .students__tab_main {
      padding: 7px 5px;
      border: 1px solid black; }
  .students__table_row {
    cursor: pointer; }

.form {
  display: flex;
  flex-direction: column; }
  .form-sm {
    width: 30%; }
  .form_auth {
    width: 220px; }
  .form_edit-email {
    margin-bottom: 10px; }
  .form-control {
    margin-bottom: 5px; }
  .form-select_search {
    width: 55%; }
  .form-group {
    margin-bottom: 10px; }
    .form-group label {
      margin-bottom: 4px; }
    .form-group_search {
      margin-bottom: -5px;
      width: 55%; }
  .form .custom-file-label::after {
    content: 'Выберите файл'; }

.admin__title {
  margin-bottom: 5px; }

.personal-page__container {
  margin-top: 15px; }

.personal-page__avatar {
  background-color: #000;
  background-size: cover;
  width: 200px; }

.personal-page__name {
  margin-bottom: 5px; }

.personal-page .tabs {
  margin-top: 20px; }

.student-block {
  padding: 10px;
  box-shadow: 0 4px 4px -4px #a4a4a4; }
  .student-block_group .student-block__links {
    justify-content: center; }
  .student-block .row {
    height: auto;
    max-height: 250px; }
  .student-block__avatar {
    background-color: #000;
    width: 100%; }
  .student-block__count {
    display: inline-block;
    margin-top: 5px; }
  .student-block__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right; }
    .student-block__links_item {
      font-family: 'SansRegular';
      font-size: 16px;
      line-height: 22px; }

.schedule__week {
  display: flex;
  flex-wrap: wrap; }

.schedule__day {
  margin-bottom: 10px;
  width: calc(100%/3);
  box-shadow: 4px 5px 5px -3px #a4a4a4; }
  .schedule__day_title {
    display: flex;
    align-items: baseline;
    margin-bottom: 3px; }
  .schedule__day_date {
    margin-left: 10px;
    margin-right: 10px; }
  .schedule__day_building {
    margin-left: 10px; }

.schedule__row_mark {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  border: 1px solid #ced4da; }

.schedule__row .form-control-changed {
  background: #004085;
  color: white; }

.schedule__change {
  display: flex; }

.album__item {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .album__item_info {
    width: 100%;
    padding: 15px 5px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white; }
  .album__item_delete {
    font-size: 45px;
    position: absolute;
    width: 30px;
    height: 28px;
    right: 7px;
    top: 7px;
    cursor: pointer; }

.album__slider {
  margin: 0 auto;
  width: 60%;
  height: 400px; }
  .album__slider .slick-slider, .album__slider .slick-list, .album__slider .slick-track, .album__slider .slick-slide, .album__slider .slick-slide > div {
    height: 100%; }

.album__controls {
  margin-top: 50px; }
  .album__controls .btn {
    margin-top: 10px; }

.album .slick-next:before, .album .slick-prev:before {
  color: black; }

.main-page__wrapper {
  width: 1100px;
  margin: 30px auto 0; }

.main-page__title {
  text-align: center; }

body {
  font-family: 'SansRegular'; }

.body-scrolling .page__main-block {
  width: calc(100% - 200px);
  margin-left: 200px; }

.body-scrolling .aside {
  position: fixed;
  top: 0; }

.title {
  margin: 10px; }

.references li {
  list-style: disc; }

.buttons_group .btn {
  margin-right: 0px;
  border-radius: 0; }
  .buttons_group .btn:first-child {
    border-radius: .2rem 0 0 .2rem; }
  .buttons_group .btn:last-child {
    margin-right: 0;
    border-radius: 0 .2rem .2rem 0; }

.hidden {
  display: none; }

/*# sourceMappingURL=index.css.map */