@import '../includes/variables';

.form {
  display: flex;
  flex-direction: column;

  &-sm {
    width: 30%;
  }

  &_auth {
    width: 220px;
  }

  &_edit-email {
    margin-bottom: 10px;
  }

  &-control {
    margin-bottom: 5px;
  }

  &-select {

    &_search {
      width: 55%;
    }
  }

  &-group {
    margin-bottom: 10px;

    label {
      margin-bottom: 4px;
    }

    &_search {
      margin-bottom: -5px;
      width: 55%;
    }
  }
}
//
// .form {
//   display: flex;
//   flex-direction: column;
//   width: 250px;
//
//   &-control {
//     margin-bottom: 10px;
//   }
//
//   &-select {
//     margin-bottom: 10px;
//   }
//
//   &_hidden {
//     display: none;
//   }
//
//   &_auth {
//     right: -10px;
//     bottom: -85px;
//     position: absolute;
//     padding: 10px;
//     background-color: $white;
//     border: .5px solid $secondaryLight;
//     box-shadow: 0 4px 2px -2px $secondaryLight;
//     border-radius: 15px;
//   }
// }
